<a href="https://colab.research.google.com/github/Grinbaum/Clima-de-Sao-Paulo/blob/main/raspaclima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests # importo o requests para poder abrir a url

In [5]:
url = 'https://www.climatempo.com.br/previsao-do-tempo/cidade/558/saopaulo-sp'# pego a url do climatempo  
resposta = requests.get(url)

In [6]:
from bs4 import BeautifulSoup # importo o beautifulsoup para parsear (ler, interpreta e usar pedaços do código html)

In [7]:
soup = BeautifulSoup(resposta.text, 'html.parser') # rodo o beautifulsoup para parsear o código html e dar resposta em texto

In [8]:
dia = str(11)

In [9]:
tag_temp_minima = soup.find('span', {"id": "min-temp-1"}) # defino a variável temperatura mínima, usando o beautifulsoup, uso a chave span, de tagueamento, e o id, para localizar o atributo específico

In [10]:
tag_temp_minima.__dict__#faço um dicionário da temperatura mínima

{'attrs': {'class': ['-gray-light'], 'id': 'min-temp-1'},
 'can_be_empty_element': False,
 'contents': ['16°'],
 'hidden': False,
 'known_xml': False,
 'name': 'span',
 'namespace': None,
 'next_element': '16°',
 'next_sibling': '\n',
 'parent': <p class="-gray _flex _align-center">
 <img alt="Temperatura mínima" class="_margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-min.svg"/>
 <span class="-gray-light" id="min-temp-1">16°</span>
 <img alt="Temperatura máxima" class="_margin-l-10 _margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-max.svg"/>
 <span class="-gray-light" id="max-temp-1">20°</span>
 </p>,
 'parser_class': bs4.BeautifulSoup,
 'prefix': None,
 'preserve_whitespace_tags': {'pre', 'textarea'},
 'previous_element': '\n',
 'previous_sibling': '\n'}

In [11]:
temp = tag_temp_minima.contents[0] #crio uma variável para temperatura?

In [12]:
print(f'A temperatura é {temp}') # publico a variável que encontrei

A temperatura é 16°

In [13]:
tag_temp_maxima = soup.find('span', {"id": "max-temp-1"})

In [14]:
tag_temp_maxima.__dict__

{'attrs': {'class': ['-gray-light'], 'id': 'max-temp-1'},
 'can_be_empty_element': False,
 'contents': ['20°'],
 'hidden': False,
 'known_xml': False,
 'name': 'span',
 'namespace': None,
 'next_element': '20°',
 'next_sibling': '\n',
 'parent': <p class="-gray _flex _align-center">
 <img alt="Temperatura mínima" class="_margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-min.svg"/>
 <span class="-gray-light" id="min-temp-1">16°</span>
 <img alt="Temperatura máxima" class="_margin-l-10 _margin-r-5 _margin-b-3" src="/dist/images/v2/svg/ic-arrow-max.svg"/>
 <span class="-gray-light" id="max-temp-1">20°</span>
 </p>,
 'parser_class': bs4.BeautifulSoup,
 'prefix': None,
 'preserve_whitespace_tags': {'pre', 'textarea'},
 'previous_element': '\n',
 'previous_sibling': '\n'}

In [15]:
temp2 = tag_temp_maxima.contents[0]

In [16]:
print(f'A temperatura é {temp2}')

A temperatura é 20°

In [17]:
import pandas as pd # importo o pandas para criar o dataframe

In [18]:
dia = dia # defino o valor da linha

In [19]:
temperatura_minima = temp # defino o valor da primeira coluna

In [20]:
temperatura_maxima = temp2 # defino o valor da segunda coluna

In [38]:
clima = {'dia': [dia], 'temperatura_minima':[temperatura_minima], 'temperatura_maxima': [temperatura_maxima]} #defino colunas e linhas na tabela

In [39]:
tabela_clima = pd.DataFrame(clima) # crio a tabela

In [40]:
type(tabela_clima) # vejo o tipo da tabela?

pandas.core.frame.DataFrame

In [41]:
tabela_clima # mostro a tabela

  dia temperatura_minima temperatura_maxima
0  11                16°                20°

In [42]:
tabela_clima. to_csv("tabela_clima.csv") # transformamos a tabela num arquivo csv

In [43]:
tabela_clima = pd.read_csv("tabela_clima.csv") # abrimos no csv

In [44]:
tabela_clima

   Unnamed: 0  dia temperatura_minima temperatura_maxima
0           0   11                16°                20°

In [45]:
tabela_clima = pd.read_csv("tabela_clima.csv", index_col=0) # usamos o  parâmetro index para tirar a coluna extra criada pelo csv

In [46]:
tabela_clima

   dia temperatura_minima temperatura_maxima
0   11                16°                20°